<a ui-sref="responses.index({ id: statement.id })">
  <div class="statement">
    <div class="scores">
      <div class="statement-score" ng-bind="statement.score"></div>
      <div ng-show="statement.support">
        <div class="indicator support"></div>
        <div class="score support" ng-style="supportStyle"></div>
      </div>
      <div ng-show="statement.opposition">
        <div class="indicator opposition"></div>
        <div class="score opposition" ng-style="oppositionStyle"></div>
      </div>
      <div ng-show="statement.objection">
        <div class="indicator objection"></div>
        <div class="score objection" ng-style="objectionStyle"></div>
      </div>
    </div>
    <div class="statement-body" ng-bind="statement.body"></div>
  </div>
</a>