<a ui-sref="responses.index({ id: statement.id, type: '' })">
  <div class="statement">
    <div class="statement-info">
      <div class="statement-score" ng-bind="statement.score"></div>
      <div class="response-type {{ statement.type }}" ng-bind="statement.type" ng-show="statement.type"></div>
      <score-indicator scores="statement.scores" />
    </div>
    <div class="statement-body" ng-bind="statement.body"></div>
    <div class="statement-vote">
        <button class="btn btn-primary" ng-class="{support:statement.upvoted}" ng-click="upvote($event)">+1</div>
    </div>
  </div>
</a>