<ul class="debate-list">
  {{#each debate in content}}
    <li>
      {{#link-to 'debate' debate}}
        {{render 'debates/detail' debate}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{render 'debates/create' model}}