<form id="create-statement-form">
  {{textarea id="statement-body" placeholder="make a statement in this debate ..." value=newBody}}
  <button {{action 'create' model}} id="submit-statement" class="btn btn-primary">Submit</button>
</form>