html
  head
    title The Debate
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/lib/handlebars-1.1.2.js")
    script(src="js/lib/ember-1.6.1.js")
    script(src="js/lib/ember-data.js")
  body
    .banner
      .container
          h1 The Debate
          p Welcome to the debate
    .content
      .container
        a(href="#") Sign up
