html
  head
    title The Debate
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/lib/handlebars-1.1.2.js")
    script(src="js/lib/ember-1.6.1.js")
    script(src="js/lib/ember-data.js")
  body
    .banner
      .container
        h1 The Debate
        p Welcome to the debate
    .content
      script(type="text/x-handlebars", data-template-name="debates")
        .container
          | {{outlet}}

    script(type="text/x-handlebars", data-template-name="debates/index")
      ul.debate-list 
        | {{#each debate in content}}
        li {{#link-to 'debate' debate}}
          .debate
            .score {{debate.score}}
            .title {{debate.title}}
        | {{/link-to}}
        | {{/each}}
        li.debate
          | {{input type="text" id="new-debate" placeholder="new debate topic" value=newTitle action="createDebate"}}

    script(type="text/x-handlebars", data-template-name="debate")
      #debate-title {{title}}

    script(src="js/application.js")
    script(src="js/router.js")
    script(src="js/models/debate.js")
    script(src="js/controllers/debates_controller.js")
