html
  head
    title The Debate
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
  body
    .banner
      .container
          h1 The Debate
          p Welcome to the debate!
    .content
      .container
        a(href="#") Sign up
