html
  head
    title The Debate
    link(rel="stylesheet", href="css/lib/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/lib/handlebars-1.1.2.js")
    script(src="js/lib/ember-1.6.1.js")
    script(src="js/lib/ember-data.js")
  body
    script(type="text/x-handlebars")
      .banner
        .container
          h1
            | {{#link-to 'debates'}}The Debate{{/link-to}}
          p Welcome to the debate
      .content
        .container
          | {{outlet}}

    include templates/debates-index
    include templates/debate
    include templates/statement
    include templates/statement-chain
    include templates/statement-partial

    script(src="js/application.js")
    script(src="js/router.js")
    script(src="js/models/debate.js")
    script(src="js/models/statement.js")
    script(src="js/controllers/debate_controller.js")
    script(src="js/controllers/debates_controller.js")
    script(src="js/controllers/statement_controller.js")
