<script type="text/x-handlebars" data-template-name="debate">
  <div class="detail">
    <div class="context">
      <div class="debate">
        <div class="debate-score">{{score}}</div> 
        <div class="debate-title">{{title}}</div>
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-primary">Statements</button>
      <button id="create-response" class="btn btn-primary">Submit a Statement</button>
    </div>
    <div class="statements">
      {{#each statement in statements}}
        {{#link-to 'statement' statement}}
          <div class="statement">{{render 'statement-partial' statement}}</div>
        {{/link-to}}
      {{/each}}
      <div class="statement">
        {{textarea id="new-statement" placeholder="make a statement in this debate ..." value=newBody}}
      </div>
      <button {{action 'createStatement'}} id="submit-statement" class="btn btn-primary">Submit</button>
    </div>
</script>