script(type="text/x-handlebars", data-template-name="debate")
  .detail
    .context
      .debate
        .debate-score {{score}}
        .debate-title {{title}}
    .controls
      button.btn.btn-primary Statements
      button#create-response.btn.btn-primary Submit a Statement
    .statements
      | {{#each statement in statements}}
      | {{#link-to 'statement' statement}}
      .statement
        | {{render 'statement-partial' statement}}
      | {{/link-to}}
      | {{/each}}
      .statement
        | {{textarea id="new-statement" placeholder="make a statement in this debate ..." value=newBody}}
      | <button {{action 'createStatement'}} id="submit-statement" class="btn btn-primary">Submit</button>