script(type="text/x-handlebars", data-template-name="statement-chain")
  | {{#if parent}}
  |   {{render 'statement-chain' parent}}
  | {{/if}}
  | {{#link-to 'statement' model}}
  .statement
    | {{render 'statement-partial' model}}
  | {{/link-to}}
