script(type="text/x-handlebars", data-template-name="statement")
  .detail
    .context
      | {{#link-to 'debate' debate}}
      .debate
        .debate-score {{debate.score}}
        .debate-title {{debate.title}}
      | {{/link-to}}
      | {{#if parent}}
      |   {{render 'statement-chain' parent}}
      | {{/if}}
      .statement.current
        | {{render 'statement-partial' model}}
      | <button id="view-responses" class="btn btn-primary">Responses</button>
      | <button id="view-objections" class="btn btn-primary">Objections</button>
      | <button id="create-response" class="btn btn-primary">Respond</button>
    .responses
      | {{#each response in responses}}
      | {{#link-to 'statement' response}}
      .statement
        | {{render 'statement-partial' response}}
      | {{/link-to}}
      | {{/each}}
      .statement
        | {{textarea id="new-response" placeholder="your response ..." value=newBody}}
      | <button {{action 'createResponse' model}} id="submit-response" class="btn btn-primary">Submit</button>