script(type="text/x-handlebars", data-template-name="statement-partial")
  .scores
    .statement-score {{score}}

    | {{#if support}}
    .indicator.support
    | <div class="score support" {{bind-attr style='supportStyle'}}></div>
    | {{/if}}

    | {{#if opposition}}
    .indicator.opposition
    | <div class="score opposition" {{bind-attr style='oppositionStyle'}}></div>
    | {{/if}}

    | {{#if objection}}
    .indicator.objection
    | <div class="score objection" {{bind-attr style='objectionStyle'}}></div>
    | {{/if}}
    
  .statement-body {{body}}
