<div class="detail">
  <div class="context">
    <div class="debate">
      <div class="debate-score">{{debate.score}}</div> 
      <div class="debate-title">{{debate.title}}</div>
    </div>
  </div>
  <div class="controls">
    <a sref="/debate({ id: debate.id })/statements" class="btn btn-primary">Statements</a>
    <a sref="/debate({ id: debate.id })/statements/new" class="btn btn-primary">Submit a Statement</a>
  </div>
  <div class="statements">
    <statement-item ng-repeat="statement in debate.statements"></statement-item>
  </div>
</div>