<div class="detail">
  <div class="context">
    <debate model="statement.debate"></debate>
    <div class="chain">
      <div ng-repeat="item in statement.chain">
        <statement model="item" />
      </div>
    </div>
    <statement model="statement" current="true" class="current"></statement>
  </div>
  <div class="controls" ng-show="$state.is('responses.index')">
    <div class="filters">
      <a ui-sref="responses({ id: statement.id, type: toggle('support') })" 
         class="show-support btn btn-primary" ng-class="{active:responseType==='support'}">Supporting</a>
      <a ui-sref="responses({ id: statement.id, type: toggle('opposition') })" 
         class="show-opposition btn btn-primary" ng-class="{active:responseType==='opposition'}">Opposing</a>
      <a ui-sref="responses({ id: statement.id, type: toggle('objection') })" 
         class="show-objection btn btn-primary" ng-class="{active:responseType==='objection'}">Objections</a>
    </div>
    <div class="actions">
      <a ui-sref="responses.new({ id: statement.id, type: responseType })" ui-sref-active="active" 
        class="new-response btn btn-primary action">Respond</a>
    </div>
  </div>
</div>
<ui-view />