<div class="detail">
  <div class="context">
    <debate model="statement.debate"></debate>
    <div class="chain">
      <div ng-repeat="item in statement.chain">
        <statement model="item" />
      </div>
    </div>
    <statement model="statement" class="current"></statement>
  </div>
  <div class="controls">
    <a ui-sref="responses.index({ id: statement.id })" ui-sref-active="active" class="show-responses btn btn-primary">Responses</a>
    <a ui-sref="objections.index({ id: statement.id })" ui-sref-active="active" class="show-objections btn btn-primary">Objections</a>
    <a ui-sref="objections.new({ id: statement.id })" ui-sref-active="active" class="new-objection btn btn-primary action">Object</a>
    <a ui-sref="responses.new({ id: statement.id })" ui-sref-active="active" class="new-response btn btn-primary action">Respond</a>
  </div>
  <ui-view />
</div>