<form id="create-debate-form">
  {{input type="text" id="debate-title" placeholder="new debate topic" value=newTitle action='create'}}
  <button {{action 'create' model}} id="submit-debate" class="btn btn-primary">Create Debate</button>
</form>