<div class="detail">
  <div class="context">
    <div class="debate">
      <div class="debate-score">{{score}}</div> 
      <div class="debate-title">{{title}}</div>
    </div>
  </div>
  <div class="controls">
    {{#link-to 'debate.index' model classNames="btn btn-primary"}}Statements{{/link-to}}
    {{#link-to 'statements.create' model classNames="btn btn-primary action"}}Submit a Statement{{/link-to}}
  </div>
  {{outlet}}
</div>